@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;400;500;600;800&display=swap");
.nav-bar {
  gap: 2rem;
  list-style: none;
  font-size: 1.2rem;
}
.nav-bar a {
  text-decoration: none;
  color: #283618;
  position: relative;
  font-weight: 600;
}
.nav-bar li:hover {
  transition: all 0.1s;
  transform: scale(1.1);
}
.nav-bar a:hover::before {
  visibility: visible;
  content: "";
  bottom: 0;
  position: absolute;
  border-bottom: 2px solid #283618;
  width: 100%;
}

.cart img {
  width: 1.5rem;
  vertical-align: middle;
  margin-left: 2rem;
}

.menu {
  font-size: 1.5rem;
  text-decoration: none;
}

.hero-cta {
  background-color: #a03b01;
  padding: 1rem 2rem;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-weight: 700;
}
.hero-cta:hover {
  background-color: #d34e01;
}

.btn-all {
  background-color: #a03b01;
  padding: 1rem 2rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
}
.btn-all:hover {
  background-color: #d34e01;
  cursor: pointer;
}

.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 1px 10px 3px #bebebe;
}
.card h4 {
  color: #141b0c;
}
.card .card-img {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}
.card .autor a {
  text-decoration: none;
  color: #141b0c;
}
.card .card-span {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
.card .card-span span::before {
  content: "$";
}
.card .card-span img {
  width: 1.5rem;
}
.card .card-span img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

hr {
  margin: 1rem 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-family: "Overpass", sans-serif;
}

body {
  color: #141b0c;
  overflow-x: hidden;
  width: 100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: calc(1.5rem + 1vw);
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

.nav-bar {
  display: none;
}

.header {
  display: flex;
  background-color: #FEFAE0;
  justify-content: space-between;
  padding: 1rem 4vw;
  align-items: center;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 5;
}
.header .header-separator {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hero {
  background: #FEFAE0;
  overflow-x: hidden;
}
.hero .hero-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.hero .hero-container .hero-content {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  gap: 1rem;
}
.hero .hero-container .hero-content > p {
  font-size: 1.2rem;
}
.hero .hero-container .hero-img {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 20rem;
  background: rgb(255, 98, 45);
  background: linear-gradient(60deg, rgb(255, 98, 45) 0%, rgb(215, 103, 22) 23%, rgb(255, 221, 132) 79%);
}
.hero .hero-container .hero-img img {
  display: block;
  position: absolute;
  width: 13rem;
  z-index: 1;
  right: 0;
  animation: anim-hero-img 8s ease-in-out infinite;
}

main section > h3 {
  padding: 1.5rem 0;
}

.popular-books {
  max-width: 1140px;
  margin: 0 auto;
  padding: 2rem;
}
.popular-books .btn-all {
  display: inline-block;
  margin-top: 2rem;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

.categorias {
  clear: both;
  max-width: 1140px;
  margin: 0 auto;
  padding: 2rem;
}
.categorias .nav-categorias {
  padding: 2rem 0 3rem 0;
}
.categorias ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  list-style: none;
  font-size: 1.2rem;
  gap: 1rem;
}
.categorias li {
  background-color: #a03b01;
  font-weight: 600;
  padding: 0.5rem;
}
.categorias li:hover {
  background-color: #6b2700;
  cursor: pointer;
}
.categorias a {
  color: white;
  text-decoration: none;
}

.reviews {
  max-width: 1140px;
  margin: 0 auto;
}
.reviews > h3 {
  padding-left: 2rem;
}
.reviews .review-container {
  background-color: #283618;
  color: white;
  font-size: 1.1rem;
  font-style: italic;
}
.reviews .review-card {
  padding: 2rem;
}

.news {
  margin: 2rem 0 0 0;
  background-color: #DDA15E;
  padding: 3rem 2rem;
  text-align: center;
}
.news .container-news {
  max-width: 1140px;
  margin: 0 auto;
}
.news .group-input {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.news .email-input {
  border: none;
  outline: none;
  border-radius: 10px 0px 0px 10px;
  font-size: 1rem;
  padding: 1rem;
  width: 60%;
  border: 2px solid transparent;
}
.news .submit-btn {
  border: none;
  padding: 0 1rem;
  border-radius: 0 10px 10px 0;
  background-color: #283618;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
}
.news .email-input:focus {
  border: 2px solid #A2E3C4;
}
.news .submit-btn:hover {
  cursor: pointer;
  background-color: #425928;
}

footer {
  text-align: center;
  background-color: #031404;
  color: white;
  padding: 3rem;
}

@media (min-width: 600px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .hero .hero-container {
    flex-wrap: nowrap;
  }
  .hero .hero-container .hero-img {
    background: transparent;
  }
  .review-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 800px) {
  .hero {
    padding: 2rem;
  }
  .hero .hero-img {
    overflow-x: visible;
  }
  .nav-bar {
    display: flex;
  }
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .menu {
    display: none;
  }
  .reviews {
    padding: 0 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
