@use "componentes";
@import "variables";
@mixin maxCenter() {
  max-width: 1140px;
  margin: 0 auto;
}
@mixin flex() {
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
:root {
  font-family: $main-font;
}
body {
  color: $darker-font;
  overflow-x: hidden;
  width: 100%;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: calc(1.5rem + 1vw);
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}
.nav-bar {
  display: none;
}

.header {
  display: flex;
  background-color: $main-ligth;
  justify-content: space-between;
  padding: 1rem 4vw;
  align-items: center;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 5;
  & .header-separator {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
.hero {
  background: $main-ligth;
  overflow-x: hidden;
  & .hero-container {
    @include maxCenter();
    @include flex();
    flex-wrap: wrap;
    position: relative;
    
    & .hero-content {
      padding: 4rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: self-start;
      gap: 1rem;
    }
    & .hero-content > p {
      font-size: 1.2rem;
    }
    & .hero-img {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 20rem;
      background: rgb(255, 98, 45);
      background: linear-gradient(
        60deg,
        rgba(255, 98, 45, 1) 0%,
        rgba(215, 103, 22, 1) 23%,
        rgba(255, 221, 132, 1) 79%
      );
      & img {
        display: block;
        position: absolute;
        width: 13rem;
        z-index: 1;
        right: 0;
        animation: anim-hero-img 8s ease-in-out infinite;
      }
    }
  }
}
main {
  & section > h3 {
    padding: 1.5rem 0;
  }
}
.popular-books {
  @include maxCenter();
  padding: 2rem;
  & .btn-all {
    display: inline-block;
    margin-top: 2rem;
    border-radius: 5px;
    text-decoration: none;
    color: white;
  }
}

.categorias {
  clear: both;
  @include maxCenter();
  padding: 2rem;
  & .nav-categorias {
    padding: 2rem 0 3rem 0;
  }
  & ul {
    @include flex();
    flex-flow: row wrap;
    list-style: none;
    font-size: 1.2rem;
    gap: 1rem;
  }
  & li {
    background-color: $main-orange;
    font-weight: 600;
    padding: 0.5rem;
    
  }
  & li:hover {
    background-color: $dark-orange;
    cursor: pointer;
  } 
  & a {
    color: white;
    text-decoration: none
  }
}

.reviews {
  @include maxCenter();
  & > h3 {
    padding-left: 2rem;
  }
  & .review-container {
    background-color: $dark-font;
    color: white;
    font-size: 1.1rem;
    font-style: italic;
  }
  & .review-card {
    padding: 2rem;
  }
}
.news {
  margin: 2rem 0 0 0;
  background-color: $ligth-orange;
  padding: 3rem 2rem;
  text-align: center;
  & .container-news {
    @include maxCenter();
  }
  & .group-input {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
  & .email-input {
    border: none;
    outline: none;
    border-radius: 10px 0px 0px 10px;
    font-size: 1rem;
    padding: 1rem;
    width: 60%;
    border: 2px solid transparent;
  }
  & .submit-btn {
    border: none;
    padding: 0 1rem;
    border-radius: 0 10px 10px 0;
    background-color: $dark-font;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
  }
  & .email-input:focus {
    border: 2px solid $celador;
  }
  & .submit-btn:hover {
    cursor: pointer;
    background-color: lighten($dark-font, 10);
  }
}
footer {
  text-align: center;
  background-color: #031404;
  color: white;
  padding: 3rem;
}

// @keyframes anim-hero-img {
//   0% {
//     transform: rotate(0deg);
//   }
//   50% {
//     transform: rotate(-20deg);
//   }
//   100% {
//     transform: rotate(0deg);
//   }
// }

@media (min-width: 600px) {

  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .hero .hero-container {
    flex-wrap: nowrap;
    & .hero-img {
      background: transparent;
    }
  }

  .review-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 800px) {
  .hero {
    padding: 2rem;
    & .hero-img {
      overflow-x: visible;
    }
  }
  .nav-bar {
    display: flex;
  }
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .menu {
    display: none;
  }
  .reviews {
    padding: 0 2rem;
  }
}
