@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;400;500;600;800&display=swap');

$dark-orange: #6b2700;
$dark-font: #283618;
$darker-font: #141b0c;
$main-ligth: #FEFAE0;
$main-orange: #BC6C25;
$ligth-orange: #DDA15E;
$celador: #A2E3C4;
$main-font: 'Overpass', sans-serif;